{% extends 'base.html.twig' %}
{% block body %}
    <html>
    <body>
    <div class="container">
{#        <h2> number {{ number }}</h2>#}


{#        <h2> tijd: {{ goedenmorgen }}</h2>#}
    </div>
    </body>
    </html>
{% endblock %}